/* Zona de importacion de estilos y otras fregaderas */

/* Paleta de colores basada en la imagen */
$bg-color: rgba( 20, 20, 20,0.7); //Oscuro semi trasparente
$border-color: rgba(255,255,255,0.1);
$text-main: #fff;
$accent: #3b82f6;
$font-family: "JetBrais Mono", "Roboto", sans-serif;


